<div class="container">
    <h1 class="primary">Projeto de desafio para vaga de desenvolvedor fullstack PHP</h1>
    <h3 class="primary pt-5">Selecione uma opção:</h3>
    <ul>
        <li>Listar todos os eletrodomésticos salvos: <a [routerLink]="routes.LISTA">Listar</a></li>
        <LI>Cadastrar um novo eletrodoméstico: <a [routerLink]="routes.CADASTRAR">Cadastrar</a></LI>
        <li>
            Para editar ou apagar um eletrodoméstico você deve ir até a página
            <a [routerLink]="routes.LISTA">Listar</a> e apertar nos botões Editar ou Apagar.
        </li>
    </ul>
</div>
